/* Using the universal selector to give a page a nice background color*/
* {
  background-color: #292b43;
  padding: 0;
  margin: 0;
}

/* Selecting the container or parent component of teh page */
.container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 16px;
  font-size: 45px;
  color: #fbab7e;
  margin-bottom: 16px;
}

#home h1:hover {
  color: skyblue;
}

h1 > span {
  font-size: 16px;
  font-weight: 500;
}

h1,
h2 {
  margin-bottom: 16px;
}

h2 {
  color: #fbab7e;
  font-size: 49px;
  margin-bottom: 16px;
  font-weight: 700;
}

.paragraph p {
  text-align: center;
  text-decoration: none;
  padding-bottom: 16px;
  align-items: center;
  font-size: 22px;
  padding: 16px 0;
  color: #fbab7e;
}

.paragraph p:hover {
  color: skyblue;
}
.btn {
  font-size: 22px;
  padding: 16px 0;
  width: 20rem;
  text-align: center;
  border-radius: 75px 0;
  margin-bottom: 16px;
  text-decoration: none;
  color: #64630b;
  background-color: rgb(207, 150, 84);
}

.btn:hover {
  cursor: pointer;
  color: skyblue;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
  margin-left: 300px;
}

.text-center {
  text-align: center;
}

/* Styling for main.html screen */
.choice-container {
  margin-right: 250px;
  display: flex;
  margin-bottom: 8px;
  width: 750px;
  height: 89px;
  font-size: 28px;
  background-color: rgb(109, 172, 166);
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
}

.choice-prefix {
  padding: 35px;
  background-color: rgb(245, 167, 143);
  color: white;
}

.choice-text:hover {
  color: rgb(128, 0, 0);
}

.choice-text {
  background-color: rgb(109, 172, 166);
  padding: 24px;
  width: 745px;
}

#hud {
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin-top: 50px;
}

.hud-prefix {
  color: #fbab7e;
  text-align: center;
  font-size: 24px;
}

.hud-main-text {
  text-align: center;
}

/* Styling for final screen's elements */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: rgb(207, 150, 84);
  border-radius: 75px 0;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  align-items: center;
  font-size: 22px;
  padding: 16px 0;
  margin-left: 5px;
  margin-bottom: 16px;
  color: #64630b;
}

form .text:hover {
  box-shadow: 0 0.1rem 1.4rem 0 rgba(18, 165, 238, 0.5);
}